
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --third-family: "Inter", sans-serif;
    --primaryColor: #ffffff;
        --secondarytextColor: #2196F3;
        --maincolor: #30313E;
        --textcolor:#212121
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;
}
body {
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
        letter-spacing: 0.03em;
}
.logo {
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 26px;
     }
.logo-web{
    color: var(--secondarytextColor);
    }
.logo-studio {
    color: #000000;
}

.menu-link{
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--textcolor);
}

.menu-link:hover{
    color: var(--secondarytextColor);
}

.information-link{
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #757575;
}

.information-link:hover{
    color: var(--secondarytextColor);
}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
}

.features-title,
.gallery-title,
.team-title
 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color:var(--textcolor);
}
.features-item-title{
        font-weight: 700;
        text-transform: uppercase;
        color:var(--textcolor);
}
.features-text{
        line-height: 1.71;
        color: #757575;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--textcolor);
}
.team-text{
        font-size: 16px;
        text-align: center;
        color: #757575;
}
.logo-studio-footer{
    color:var(--primaryColor);
}
.address{
    line-height: 1.71;
    font-style:normal ;
}
.address-text{
    color: var(--primaryColor);
}
.menu-link{
        color: rgba(255, 255, 255, 0.6);
}
.project{
    font-family:"Inter",sans-serif;
}
.project-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--textcolor);
}
.project-button:hover{
    color:var(--secondarytextColor) ;
}
.fotogallery-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color:var(--textcolor);
}
.fotogallery-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
.hero{
    margin-top: 208px;
}
.features{
    margin-top: 288px;
}
.gallery{
    margin-top: 100px;
}
.team{
    margin-top: 192px;
}