
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --third-family: "Inter", sans-serif;
    --primaryColor: #ffffff;
        --secondarytextColor: #2196F3;
        --maincolor: #30313E;
        --textcolor:#212121;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
a{
    text-decoration: none;
}
header{
    padding-top: 32px;
    padding-bottom: 32px;
}

body {
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
        letter-spacing: 0.03em;
}

.header-position {
    display: flex;
    align-items: center;

}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* шапка сайту */
.logo {
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 26px;
     }
.logo-web{
    color: var(--secondarytextColor);
    }
.logo-studio {
    color: #000000;
}
.menu{ 
    display: flex;
    margin-left: 93px;
    column-gap: 60px;
}
.menu-link{
        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--textcolor);
}
.menu-link:hover{
    color: var(--secondarytextColor);
}
.information{
    display: flex;
    margin-left:auto;
    column-gap: 50px;
}
.information-link{
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #757575;
}

.information-link:hover{
    color: var(--secondarytextColor);
}
/* Hero section */
.hero{
    background-color:#2F303A ;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    
}
.button {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    margin-left: auto;
        margin-right: auto;
        width: 220px;
        padding: 10px 46px;
        background-color:#2196F3 ;
        border-radius: 4px;
}

.features-title,
.gallery-title,
.team-title
 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color:var(--textcolor);
}
/* Our features */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-title{
    display: none;
}
.features-list{
    display: flex;
    column-gap:30px ;
    
}
.features-item-title{
        font-weight: 700;
        text-transform: uppercase;
        color:var(--textcolor);
        margin-bottom: 10px;

}
.features-item{
    margin-bottom: 10px;
}
.features-text{
        line-height: 1.71;
        color: #757575;
        width: 270px;
}
/* What do we do */
.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}
.gallery-title{
     margin-bottom:50px ;
}
.gallery-list {
    display: flex;
    column-gap: 30px;
}
.gallery-item{
    flex-basis: calc((100% - 2 * 30px) /2 );
}

/* Our team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.team-title{
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    column-gap: 30px;
    
}
.team-item{
box-sizing: content-box;
    width: 270px;
    background-color: var(--primaryColor);
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--textcolor);
    padding-top: 30px;
    padding-bottom: 10px;
}
.team-text{
        font-size: 16px;
        text-align: center;
        color: #757575;
        padding-bottom: 30px;
}
/* Footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #757575;
}
.logo-studio-footer{
    color:var(--primaryColor);
}
.address{
    line-height: 1.71;
    font-style:normal ;
}
.address-text{
    color: var(--primaryColor);
    padding-top: 20px;
}
.contacts-link{
 color: var(--primaryColor);
}

/* Portfolio */
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Header portfolio */
.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
}
.logo-web {
    color: var(--secondarytextColor);
}
.logo-studio {
    color: #000000;
}
.menu {
    display: flex;
    margin-left: 93px;
    column-gap: 60px;
}
.menu-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--textcolor);
}
.menu-link:hover {
    color: var(--secondarytextColor);
}
.information {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}
.information-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #757575;
}
.information-link:hover {
    color: var(--secondarytextColor);
}
/* Project portfolio */
.project{
    font-family:"Inter",sans-serif;
    padding-top:94px ;
    padding-bottom: 94px;
}
.project-title{
   display: none;
 
}
.button-list{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}
.project-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--textcolor);
        padding: 6px 25px;
        border: none;
        background-color:#F5F4FA ;
}
.project-button:hover{
    background-color:var(--secondarytextColor) ;
    color: var(--primaryColor);
}
.fotogallery-list{
    display:flex ;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}
.fotogallery-item{
    flex-basis:calc((100% - 2 * 30px) / 3 );
    border: 1px solid #eee;
}
.fotogallery-content{
    padding: 20px 24px;
}
.fotogallery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--textcolor);
    margin-bottom: 4px;

}
.fotogallery-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer portfolio */
footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #757575;
}

