
$font-family: "Roboto", sans-serif;
$second-family: "Raleway", sans-serif;
$third-family: "Inter", sans-serif;
$primaryColor: #ffffff;
$secondarytextColor: #2196F3;
$maincolor: #30313E;
$textcolor: #212121;
