footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.logo-studio-footer {
    color: $primaryColor;
}

.address {
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
}

.address-text {
    color: $primaryColor;
    margin-bottom: 9px;
}

.contacts-link {
    color: $primaryColor;
}

.contacts-item {
    padding-bottom: 9px;
}

.footer-platz {
    display: flex;
}

.social-media {
    margin-left: 70px;
    margin-top: 12px;
}

.social-media-title {
    font-family: 4font-family;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.social-media-icon {
    fill: $primaryColor;
}

.icon-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form {
    margin-left: auto;
    display: flex;
    column-gap: 12px;
    margin-top: 14px;
}

.form-label {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: $primaryColor;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.form-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: transparent;
}

.form-input::placeholder {
    padding: 15px 16px;
}

.form-button {
    width: 200px;
    height: 50px;
    margin-top: 35px;
    padding-left: 41px;
    padding-right: 28px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: $secondarytextColor;
    color: $primaryColor;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 22px;

}

.form-button-icon {
    width: 24px;
    height: 24px;
}