.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.gallery-title {
    margin-bottom: 50px;
}

.gallery-list {
    display: flex;
    column-gap: 30px;
}

.gallery-item {
    position: relative;
    flex-basis: calc((100% - 2 * 30px) /2);
}

.gallery-image {
    display: block;
    max-width: 100%;
    height: 100%;
}

.gallery-text {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgb(47, 48, 58, 0.8);
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}