.backdrop {
    position: fixed;
    @extend .position;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: $primaryColor;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-close-bth {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    background-color: $primaryColor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bth-close {
    position: absolute;
    width: 11px;
    height: 11px;

}

.icon-bth-close:hover {
    fill: $secondarytextColor;
}

.form-title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $textcolor;
    margin-bottom: 12px;
}

.form {
    display: flex;
    flex-direction: column;
}

.modal-input-label {
    font-family: $font-family;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-input-field {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
}

.input-box {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 11px;
    left: 12px;
}

.modal-input-icon:hover {
    fill: $secondarytextColor;
}

.modal-input-field:hover {
    border: 1px solid $secondarytextColor;
}

.input-box:hover .modal-input-icon {
    fill: $secondarytextColor;
}

.modal-comments-field {
    resize: none;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgb(33, 33, 33, 0.2);
    padding: 12px 16px;
    margin-bottom: 20px;
}

.checkbox-wrap {
    display: flex;
    column-gap: 18px;
    margin-bottom: 15px;

}

.modal-check-label {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-check-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $secondarytextColor;
}

.modal-btn {
    padding: 10px 80px;
    width: 200px;
    background-color: #03a9f4;
    color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    align-items: start;
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

}